<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huawei.pojo.Student">
        <id column="ID" property="id" />
        <result column="STUDENT_NAME" property="studentName" />
        <result column="AGE" property="age" />
        <result column="SEX" property="sex" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, STUDENT_NAME, AGE, SEX
    </sql>

    <select id="getLogStudentList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from t_student
    </select>
</mapper>
